
  
.bg-blue {
    background-color: #2B9EA6;
    color: #FFFFFF;
}

.navbar-custom {
    color: #FFFFFF !important;
  
   
   
}




  .nav-link {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF !important;
  }

  .nav-scroll{
   margin-bottom: 56px;
   }

   a{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF !important;
    
   }

   
